.review {
  background-color: #e7e7e7;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;

  .rating {
    margin-top: 0;
    font-size: 20px;
  }

  .desc {
    font-size: 13px;
  }
}

.new-review-container {
  padding: 0;
  margin-bottom: 20px;
}

.new_review {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 0px 10px 0px ;

  .col-md-8 {
    margin-bottom: 10px;
  }

  .submit {
    margin-top: 10px;
    margin-left: 15px;
  }
}



